@import 'tailwindcss';
@import './theme.css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  :root {
    --background: #f3f6f9;
    --sub-background: #f8f9fb;
    --text: #1f4e8c;
  }

  [data-theme='dark'] {
    --background: #071424;
    --sub-background: #0b1a2e;
    --text: #e5edf7;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
