@import 'tailwindcss';
@import './theme.css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
