@theme {
  /* fonts */
  --font-pretendard: var(--font-pretendard), sans-serif;
  --font-asset: var(--font-asset), sans-serif;

  /* colors */
  --color-background: var(--background);
  --color-sub-background: var(--sub-background);
  --color-text: var(--text);

  /* font-size */
  --text-2xs: 0.5625rem; /* 9px */

  /* breakpoints */
  --breakpoint-sm: 30rem; /* 480px */

  /* shadows */
  --shadow-card: 0 3px 6px rgba(0, 0, 0, 0.06);
  --shadow-card-dark: 0 3px 8px rgba(0, 0, 0, 0.45);
}
